# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/



# Django
db.sqlite3
*.log

# Static files collected
staticfiles/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyCharm
*.iml
